.servicios {
    padding: 60px 20px;
    background-color: #0b0b0b;
    color:#ffffff;
}

.servicios h2{
    text-align: center;
    font-size: 2.5rem;
    color: #00ff99;
    margin-bottom: 40px;
}

.servicios-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}
.servicio  {

}
    
